---
layout: default
title: "GitLab core team"
suppress_header: true
extra_css:
  - core.css
---
.wrapper
  .core-container
    .core-overlay
      .core-content
        %h1 Core Team
#content
  .container
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/dmitriy.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://dzaporozhets.me/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/dzaporozhets"}
              .twitter.no-margin
          %li
            %a{href: "http://ua.linkedin.com/in/dzaporozhets"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/dzaporozhets"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/randx"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Dmitriy Zaporozhets
        %p Dmitriy started GitLab in September 2011 and has released it every month on the 22nd since then. He wanted to make a great and free project management system that he could use every day. He loved to work on GitLab so much that in January of 2013 he began to work on GitLab fulltime. When he has time he loves to code a major new GitLab feature in two days. He loves a good Martini and a merge request that can be accepted without comments.
        %h3.title Specialities
        %ul
          %li
            %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/"} GitLab CE
            Lead
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/marin.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/maxlazio"}
              .twitter.no-margin
          %li
            %a{href: "http://rs.linkedin.com/pub/marin-jankovski/21/a/a64"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/marin"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/maxlazio"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Marin Jankovski
        %p Marin loves to develop in Rails but has also grown an interest in operations, specifically Amazon Web Services and Opscode Chef. When video conferencing with him you get a cat running accross the room as a bonus. He is notorious for starting early in the morning just after breakfast and not having lunch until his workday is over. You would expect him to be hungry and grumpy the last few hours but as long as his internet connection is up he is always friendly and upbeat. He loves travelling and talking. A lot of talking. A lot.
        %h3.title Specialities
        %ul
          %li
            %a{href: "https://gitlab.com/gitlab-org/cookbook-gitlab"} GitLab Cookbook
            Lead
          %li
            %a{href: "https://gitlab.com/gitlab-org/omnibus-gitlab"} Omnibus-gitlab
            Lead
          %li
            GitLab Flavored Markdown (GFM) support
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/robert.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/Razer6"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/u/razer6"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/Razer6"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Robert Schilling
        %p Robert is a developer who loves science and technology. He currently studies telematics with focus on digital signal processing at Graz University of Technology.  In his spare time he enjoys mountain biking, skiing and photography. When not in front of his computer, Robert can often be found with a glass of good single malt whisky or beer in his hand discussing sports and open source software.
        %h3.title Specialities
        %ul
          %li
            issue triage lead
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/jacob.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/jacobvosmaer"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/profile/view?id=15991252"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/jacobvosmaer"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jacobvosmaer"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Jacob Vosmaer
        %p Jacob is a doctor in logic. He likes to understand and explain complex technical systems. That helps with his job as a senior service engineer at GitLab.com. In his spare time he likes to read Unix books and has a second career as tango DJ in Amsterdam.
        %h3.title Specialities
        %ul
          %li
            omnibus-gitlab
            (
            %a{href: "https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests/318#note_296648"} awarded
            a golden gear medal for bravery and acts of merit serving in the trenches of GitLab Omnibus
            )
            %br/
            = image_tag "/images/golden_gear_medal/golden_gear_medal_175x350.png"
          %li
            unix security
          %li
            LDAP
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/sytse.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://www.sytse.com/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/sytses"}
              .twitter.no-margin
          %li
            %a{href: "http://nl.linkedin.com/in/sijbrandij"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/sytses"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/dosire"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Sytse Sijbrandij
        %p Sytse saw the first ruby code in 2007 and loved it so much he dove head first into programming. Before that he was engaged in business administration roles and combining that with software development is his passion. He is always looking to make a template out of something or to automate a process. His team members suspect he has todo list and reminders for everything, including breakfast and getting his hair cut. He loves a good beer and organizing a trip to a conference.
        %h3.title Specialities
        %ul
          %li
            readme and documentation
          %li
            interface text
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/jeroen.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/jvanbaarsen"}
              .twitter.no-margin
          %li
            %a{href: "http://nl.linkedin.com/in/jvanbaarsen"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/jeroenvanbaarsen"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jvanbaarsen"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Jeroen van Baarsen
        = image_tag "/images/merge_marshal/mm_badge_st.png"
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/drew.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/drewblessing"}
              .twitter.no-margin
          %li
            %a{href: "http://www.linkedin.com/pub/drew-blessing/21/908/b64/"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/drewb"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/dblessing"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Drew Blessing
        = image_tag "/images/merge_marshal/mm_badge_st.png"
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/axil.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://axilleas.me/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/_axil"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/u/axil"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/axilleas"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Achilleas Pipinellis
        %p
          Achilleas is an open source enthusiast that tries to get involved in as many projects as possible.
          His linux distro of choice is Archlinux, although since 2013 he's enjoying making packages for Fedora. You'll often listen him
          quoting from his favorite movie "The Big Lebowski". When he is not in front of his laptop (a Thinkpad X220 of course!)
          he practises Aikido, reads Bukowski and enjoys a good meal he cooked all by himself.
        %h3.title Specialities
        %ul
          %li
            %a{href: "https://gitlab.com/gitlab-org/gitlab-recipes/"} GitLab Recipes
            Lead
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/hannes.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://gitlab.com/u/haynes"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/123Haynes"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Hannes Rosenögger
        %p
          Hannes is a developer who loves open source.
          His motto is: "If something is broken that you need and you are able to fix it, don't just talk about it. Fix it!"
          In his spare time he enjoys swimming, badminton and relaxing with his friends.
          When he is not in front of his computer, he can often be found on various camping places where he helps out the scouts of his hometown.
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/kamil.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://ayufan.eu/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/ayufanpl"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/kamiltrzcinski"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/ayufan"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/ayufan"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Kamil Trzciński
        %p
          Kamil is a low-level programming enthusiast with years of experience in building apps for all platforms. He is also a security, virtualization and graphics expert with a variety of programming languages in his toolkit together with deep operating systems architecture knowledge. He's focusing lately on security principles of mobile platforms and the "container revolution". In his spare time he likes to run, cycle and play good games, although not all at the same time.
        %h3.title Specialities
        %ul
          %li
            %a{href: "https://gitlab.com/gitlab-org/gitlab-ci/"} GitLab CI
            Lead
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/stan.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://www.linkedin.com/in/stanhu00"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/stanhu"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/stanhu"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title Stan Hu
        %p
          Stan started working on GitLab because he just wanted to see more Slack notifications, but his
          interest in the project snowballed after that. Stan has spent close to 20 years writing software at almost every level of the stack, from
          Linux kernel code to Web applications. Having retired from running marathons, he now spends his free time preparing for triathlons and photographing
          events.
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/newton.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://jamesnewton.com"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/jameswritescode"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/jameswritescode"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/newton"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jameswritescode"}
              .github.no-margin
      .col-sm-9.col-md-9
        %h2.title James Newton
        %p James is a software developer in Orlando, FL, US.
        %p He started following GitLab development in 2012 looking for a better git management interface. Needless to say, it was love at first sight. Since then he's has been supporting GitLab users in the freenode IRC channel.
    .row
      %hr.hor-line/
    .teams.row
      .col-sm-3.col-md-3
        .core-team-image
          = image_tag "/images/team/picture_liza.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/creamzzzy"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/u/creamzy"}
              .gitlab.no-margin
      .col-sm-9.col-md-9
        %h2.title Liza Belyaeva
        %p Liza is a UX Designer in Hamburg, Germany.
        %p Liza comes from a maths background, bringing her passion for order and consistency to the design world. With more than seven years of experience in both corporate environments and the startup world she is really excited about delivering meaningful and useful experiences to people in need. Through open source software and a vegan lifestyle she hopes to change this world for the better.
    .row
      %p Many core team members did a lot of fixes, improvements and refactoring. The above list indicates some of their specialties but it is not complete.
      %p
        GitLab core team members who are no longer active but whose work is very much appreciated can be found on the
        = succeed "." do
          %a{href: "/alumni"} core team alumni page
      %p
        The GitLab core-team is not bound to any single (not-)for-profit organization.
        This arrangement is similar to those of the Ruby, Ruby on Rails, Linux and PostgreSQL projects.
        There is no formal process, team members discuss topics on the
        %a{href: "https://groups.google.com/forum/#!forum/gitlab-core"} private gitlab-core mailing list
        and Slack channel.
        You can get invited for the core team after
        %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md"} contributing
        to GitLab for a sustained period of time.
        You can contribute by coding but also by giving feedback on merge requests, triaging on the issue tracker or helping out on the mailinglist.
        Core contributors are invited after a proposal from a core-team member that gets two positive responses on the core-team mailing list and no negative ones.
