@import "variables";
@import "vendor/slick";

.gitlab-promo-banner {
  padding-bottom: 3px;
  background-color: $color-primary-alt;
  font-size: 16px;
  text-align: center;
  line-height: 32px;

  > a {
    color: $color-white;
    border-bottom: 1px solid $color-white;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.landing-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 80px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 120px;
  }

  > .container {
    position: relative;
    z-index: 9;
  }

  .landing-headline {
    margin-top: 0;
    margin-bottom: 25px;
    color: $color-white;
    font-size: 46px;
    font-weight: 300;
    line-height: 1;
  }

  .landing-hero {
    margin-bottom: 30px;

    .illustration-stroke {
      fill: transparent;
      stroke: $color-secondary;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .illustration-fill {
      fill: $color-secondary;
    }
  }
}

.landing-community {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $landing-community-bg;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba($landing-community-bg, .85), $landing-community-bg 75%);
  }

  .community-image {
    position: relative;
    float: left;
    width: 16.66%;
    padding-top: 16.66%;
    height: auto;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 12.5%;
      padding-top: 12.5%;
    }

    @media (min-width: 990px) {
      width: 10%;
      padding-top: 10%;
    }

    @media (min-width: 1200px) {
      width: 5%;
      padding-top: 5%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }

    .is-loaded {
      display: block;
    }
  }
}

.featured-item {
  padding: 20px;
  margin-bottom: 15px;
  background-color: $color-white;
  border: 1px solid $color-dark;
  border-radius: 4px;

  @media (min-width: 990px) {
    padding: 40px 30px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  .featured-item-icon {
    display: none;
    margin-bottom: 10px;
    font-size: 56px;

    @media (min-width: 768px) {
      display: inline-block;
    }

    @media (min-width: 1200px) {
      margin-bottom: 30px;
    }

    path {
      fill: $color-secondary;
    }
  }

  .featured-item-headline {
    margin-top: 0;
    margin-bottom: 5px;
    color: $color-primary;
  }

  .featured-item-headline-small {
    margin-top: 0;
    margin-bottom: 15px;
    color: $color-primary;
    font-size: 20px;
    font-weight: 300;

    @media (min-width: 1200px) {
      margin-bottom: 38px;
    }
  }

  .featured-item-description {
    margin-bottom: 20px;
    font-size: 17px;

    @media (min-width: 990px) {
      margin-bottom: 25px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 35px;
    }
  }

  .featured-item-button {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 130px;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;

    @media (min-width: 990px) {
      line-height: 40px;
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-secondary;
      text-decoration: none;
      outline: 0;
    }
  }
}

.what-is {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-primary-alt;
  color: $color-white;
  font-size: 16px;

  @media (min-width: 990px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .what-is-item-holder {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @media (min-width: 990px) {
      margin-bottom: 0;
    }
  }

  .what-is-item {
    @media (min-width: 1200px) {
      padding-right: 40px;
    }
  }

  .what-is-item-icon {
    margin-bottom: 10px;
    font-size: (56px / 16px) * 1em;

    path {
      fill: $color-secondary-alt;
    }
  }

  .what-is-item-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
  }

  .what-is-item-content {
    font-size: (16px / 16px) * 1em;

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: $color-white;
      text-decoration: none;
      border-bottom: 1px solid $color-white;
    }

    a:hover {
      border-bottom-color: transparent;
    }
  }
}

.organizations {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-white;
  border-bottom: 2px solid $landing-organization-color;

  @media (min-width: 990px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .organizations-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $color-primary;
    font-size: 30px;
    font-weight: 300;

    @media (min-width: 990px) {
      margin-bottom: 40px;
      font-size: 47px;
    }
  }

  .organizations-disclaimer {
    font-size: 12px;
  }

  .organizations-logo {
    margin-bottom: 10px;
    line-height: 80px;

    @media (min-width: 990px) {
      margin-bottom: 25px;
    }

    img {
      height: auto;
      max-height: 75px;
    }
  }
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: 990px) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  a:hover {
    text-decoration: none;
  }

  .testimonials-item-link {
    display: inline-block;
  }

  .testimonials-item-image {
    margin-bottom: 10px;
    height: 68px;
    width: auto;
  }

  .testimonials-item-content {
    margin-bottom: 0;
    color: $color-secondary;
    font-size: 26px;
    line-height: 1.15;
    border-left: 0;

    @media (min-width: 990px) {
      font-size: 36px;
    }
  }

  .slick-slide {
    outline: none;
  }

  .slick-dots {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;

    > li {
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 50%;
    }

    .slick-active {
      background-color: $landing-organization-color;
    }
  }

  button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid $landing-organization-color;
    border-radius: 50%;
    color: transparent;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    outline: none;

    &:hover {
      background-color: $landing-organization-color;
    }
  }
}
